@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply tracking-tight;
  }
}
